.DS_Store
__pycache__

build
fusesoc.conf
*/doc/private/*

*/sim/rtl_sim/run/simv*
*/sim/rtl_sim/run/*.gtkw
*/sim/rtl_sim/run/stimulus.v
*/sim/rtl_sim/run/submit_sim.f
*/sim/rtl_sim/run/submit_lint.f
*/sim/rtl_sim/run/*.vcd
*/sim/rtl_sim/run/log/*
*/sim/rtl_sim/run/log_lint/*
*/sim/rtl_sim/run/log_sweep/*

*/synthesis/synopsys/*_d
*/synthesis/synopsys/alib*
*/synthesis/synopsys/wORK
*/synthesis/synopsys/filenames*
*/synthesis/synopsys/clog*
*/synthesis/synopsys/results/*
*/synthesis/synopsys/submit_syn.tcl
*/synthesis/synopsys/libraries/setup_t*.tcl
*/synthesis/synopsys/libraries/setup_lib_default.tcl
*/synthesis/synopsys/libraries/t*
